* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    height: 123vh;
    background: url("./img/11111.jpg");
    background-position: center;
    background-size: cover;
}
p {
    font-family:'Courier New', Courier, monospace;
}
h2 {
    margin-left: 580px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: black;
}
h3 {
    margin-left: 380px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: black;
}
.popk {
    margin-top: -450px;
    margin-left: 200px;
    font-size: 50px;
    display: block;
}
.kola {
    margin-top: -103px;
    margin-left: 435px;
    width: 240px;
    height: 300px;
}
.kol {
    margin-top: 100px;
    margin-left: 90px;
    width: 300px;
    height: 300px;
}
.kolak {
    width: 100px;
}
.llll {
    padding-top: -90px;
    padding-left: 600px;
    bottom: 100px;
}
.kolakok{
    width: 100px;
}
.kolak{
    width: 100px;
}
.kolako{
    width: 100px;
}
.kolakol{
    width: 100px;
}
.llll img {
    margin-left: 10px;
    margin-top: -50px;
}
